@import url(./reset.css);
body {
    /* display: flex;
    flex-direction: column; */
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    height: 10vh;
    text-align: center;
    align-content: center;
    font-size: 2rem;
    background-color: #422727;
    color: #fff;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    height: 80vh;
    
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    height: 100%;
    margin-top: 4%;
}

nav ul li{
    flex: 1;
    display: flex;
    align-items: stretch;
}

nav ul li a {
    display: block; /* Muda para block para comportar altura responsiva */
    padding: 1.5rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    width: 9.5rem;
    height: 90%; /* Altura inicial menor para simular um livro fechado */
    transition: all 0.5s ease; /* Transição suave para tamanho e escala */
}

nav ul li a:hover {
    transform: scale(1.1); /* Aumenta a largura e altura sem afetar os outros elementos */
    font-size: 1.2rem;
    cursor: pointer; /* Mostra o cursor de mão */
}

#cadastro {
    background-color: #b95005;
}

#acervo {
    background-color: #165e46;
}

#emprestados {
    background-color: #a52a2a;
}

#historico {
    background-color: #063464;
}
footer {
    text-align: center;
    height: 10vh;
    align-content: center;
    background-color: #422727;
    color: #fff;
}
