<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Aluno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Cadastrar Aluno</h1>
    <form method="POST">
        <label>Matricula:</label><input type="text" name="id" placeholder="Matrícula no SIMADE" required><br>
        <label>Nome:</label><input type="text" name="nome" required><br>
        <!-- <label>Turma:</label><input type="text" name="turma" required><br>
        <label>Série:</label><input type="text" name="serie" required><br>
        <label>Turno:</label> -->
        <!-- <select name="turno">
            <option value="Matutino">Matutino</option>
            <option value="Vespertino">Vespertino</option>
        </select><br> -->
        <button type="submit">Cadastrar</button>
    </form>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>
