<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Escolar</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/livros.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Sitema de Biblioteca Escolar!</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('cadastrar_aluno') }}">Cadastrar Aluno</a></li>
                <li><a href="{{ url_for('cadastrar_livro') }}">Cadastrar Livro</a></li>
                <li><a href="{{ url_for('registrar_emprestimo') }}">Registrar Empréstimo</a></li>
                <li><a href="{{ url_for('registrar_devolucao') }}">Registrar Devolução</a></li>
                <li><a href="{{ url_for('atrasados') }}">Atrasados</a></li>
                <li><a href="{{ url_for('historico') }}">Histórico de Devoluções</a></li>
            </ul>
        </nav>
    </header>
    <footer>
        <p>© 2024 Biblioteca Escolar - Desenvolvido pela 1ª Turma do Curso Técnico de Informática para Internet</p>
    </footer>
</body>
</html>
