<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Escolar</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/livros.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de Gerenciamento de Bíblioteca Escolar</h1>
        <nav>
            <h2>Menu de Opções:</h2>
            <ul>
                <li><a href="{{ url_for('listar_alunos') }}">Cadastro de Alunos</a></li>
                <li><a href="{{ url_for('acervo') }}">Acervo Bibliográfico</a></li>
                <li><a href="{{ url_for('livros_emprestados') }}">Registro de Empréstimos</a></li>
                <li><a href="{{ url_for('historico') }}">Histórico</a></li>
            </ul>
        </nav>
    </header>
    <footer>
        <p>© 2024 - Desenvolvido pela Primeira Turma do Curso Técnico de Informática para Internet</p>
    </footer>
</body>
</html>
